{% extends "base.html" %}

{% block title %}Archive - {{ site.title }}{% endblock %}

{% block content %}
<div class="container">
    <header class="archive-header">
        <h1 class="archive-title reveal-left">Archive</h1>
        <p class="archive-subtitle reveal-right">All {{ posts|length }} posts in chronological order</p>
    </header>

    <div class="archive-list">
        {% set current_year = namespace(value=none) %}
        {% for post in posts %}
            {% set post_year = post.date[:4] %}

            {% if post_year != current_year.value %}
                {% if current_year.value != none %}
                </div></section>
                {% endif %}

                {% set current_year.value = post_year %}
                <section class="archive-year">
                <h2 class="year-heading reveal-left">{{ post_year }}</h2>
                <div class="year-posts">
            {% endif %}

            <article class="archive-post-item reveal-left">
                <time class="archive-post-date" datetime="{{ post.date }}">
                    {{ post.date | format_date_short }}
                </time>
                <a href="/{{ post.url_path }}.html" class="archive-post-link">
                    {{ post.title }}
                </a>
                {% if post.tags %}
                <div class="archive-post-tags">
                    {% for tag in post.tags[:3] %}
                    <span class="tag tag-small">#{{ tag }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </article>
        {% endfor %}

        </div></section>
    </div>
</div>
{% endblock %}
