{% set is_gif = src is ending_with(".gif") %}

{% set image_thumb_url = src %}
{% set image_full_url = src %}

{% if src %}
<figure class="{% if position %}{{ position }}{% else -%} center {%- endif %}">
    <a href="{{ image_full_url | safe }}">
        <img src="{{ image_thumb_url | safe }}" {% if alt %} alt="{{ alt }}" {% endif %} {% if style %}
            style="{{ style }}" {% endif %} />
    </a>
    {% if caption %}
    <figcaption class="{% if caption_position %}{{ caption_position }}{% else -%} center {%- endif %}" {% if caption_style %}style="{{ caption_style | safe }}"{% endif %}
>
        {{ caption }}
    </figcaption>
    {% endif %}
</figure>
{% endif %}