{% set is_gif = src is ending_with(".gif") %}

{% if is_gif %}
    {% set image_thumb_url = src %}
{% else %}
    {% set image_thumb = resize_image(path=src, width=360, height=360, op="fit", format="webp") %}
    {% set image_thumb_url = image_thumb.url %}
{% endif %}

{% if is_gif %}
    {% set image_full_url = src %}
{% elif src is ending_with(".jpg") or src is ending_with(".jpeg") %}
    {% set image_full = resize_image(path=src, width=1920, height=1920, op="fit") %}
    {% set image_full_url = image_full.url %}
{% else %}
    {% set image_full = resize_image(path=src, width=1920, height=1920, op="fit", format="webp") %}
    {% set image_full_url = image_full.url %}
{% endif %}

{% if src %}
<figure class="{% if position %}{{ position }}{% else -%} center {%- endif %}">
    <a href="{{ image_full_url | safe }}">
        <img src="{{ image_thumb_url | safe }}" {% if alt %} alt="{{ alt }}" {% endif %} {% if style %}
            style="{{ style }}" {% endif %} />
    </a>
    {% if caption %}
    <figcaption class="{% if caption_position %}{{ caption_position }}{% else -%} center {%- endif %}" {% if
        caption_style %} style="{{ caption_style | safe }}" {% endif %}> {{
        caption }}
    </figcaption>
    {% endif %}
</figure>
{% endif %}
