{{ $src := .Get "src" }}
{{ $img := .Page.Resources.GetMatch $src }}
{{ $alt := .Get "alt" }}
{{ $width := .Get "width" }}
{{ $height := .Get "height" }}

{{ if $img }}
  {{ if eq $img.MediaType.SubType "gif" }}
<!--     {{/* Для GIF используем оригинальный файл без обработки */}} -->
    <img src="{{ $img.RelPermalink }}" 
         alt="{{ $alt }}" 
         {{ with $width }}width="{{ . }}"{{ end }} 
         {{ with $height }}height="{{ . }}"{{ end }} />
  {{ else }}
<!--     {{/* Для остальных изображений делаем ресайз */}} -->
    {{ $resized := $img.Resize "1000x" }}
    <img src="{{ $resized.RelPermalink }}" 
         alt="{{ $alt }}" 
         {{ with $width }}width="{{ . }}"{{ end }} 
         {{ with $height }}height="{{ . }}"{{ end }} />
  {{ end }}
{{ else }}
<!--   {{/* Если изображение не найдено в ресурсах */}} -->
  <img src="{{ $src }}" 
       alt="{{ $alt }}" 
       {{ with $width }}width="{{ . }}"{{ end }} 
       {{ with $height }}height="{{ . }}"{{ end }} />
{{ end }}
