{% extends "index.html" %}

{% block content %}
    <div class="post">
        <h1 class="post-title">{{ page.title }}</h1>

        {% set main_section = get_section(path="_index.md") %}
        {% set projects_section = get_section(path="projects/_index.md") %}
        {% set rust_section = get_section(path="rust/_index.md") %}
        {% set embedded_section = get_section(path="embedded/_index.md") %}

        {% set all_pages = main_section.pages | default(value=[]) %}
        {% set all_pages = all_pages | concat(projects_section.pages | default(value=[])) %}
        {% set all_pages = all_pages | concat(rust_section.pages | default(value=[])) %}
        {% set all_pages = all_pages | concat(embedded_section.pages | default(value=[])) %}

        {% set sorted_pages = all_pages | sort(attribute="date", reverse=true) %}
        
        {{ post_macros::list_posts(pages=sorted_pages) }}
    </div>
{% endblock content %}