{% block footer %}
<footer class="footer">
    <div class="footer__inner">
        {%- if config.extra.copyright_html %}
            <div class="copyright copyright--user">{{ config.extra.copyright_html | safe }}</div>
        {% else %}
            <div class="copyright">
                {%- if config.extra.author %}
                    <span>© {{ date_macros::now_year() }} {{ config.extra.author }}</span>
                {% else %}
                {% endif -%}

                <span class="copyright-theme-sep">|</span>
                <span>Visitors: <img src="https://visitor-badge.laobi.icu/badge?page_id=maltsev-dev.github.io" alt="Visitors"></span>
            </div>
        {% endif -%}
    </div>
</footer>
{% endblock footer %}